{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
<form id="loginForm" method="POST">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <h1 id="loginTitle" class="h3 mb-3 font-weight-normal">Veuillez vous connecter</h1>
  <div class="inputs">
    <label for="inputEmail" class="sr-only">Email</label>
    <input type="username" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" placeholder="Email" required autofocus>
    <label for="inputPassword" class="sr-only">Mot de passe</label>
    <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Mot de passe" required>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >
    </div>


    <button class="btn btnlogin btn-lg btn-primary" type="submit">
        Se connecter
    </button>
</form>
{% endblock %}
