{% extends 'base.html.twig' %}
{% block title %}Conseils{% endblock %}
{% block body %}
<div id="back-title" class="row justify-content-center">
  
    <img src="pics/titre2.jpg" alt="Conseils" >
    <h1>Conseils</h1>
  </div>
  <br>
  <section class="row justify-content-end">
    <div class="menu-q col-3 sticky-top">
      <ol>
        <li><a href="#q1">Je constate un dépôt au fond de la bouteille. Est-ce normal ? Que peut-on faire ?</a></li>
        <li><a href="#q2">Pourquoi ajouter des sulfites dans le vin ? </a></li>
        <li><a href="#q3">A l’ouverture le vin paraît pétiller légèrement sur la langue. Est-ce qu’il est en train de refermenter ?</a></li>
        <li><a href="#q4">Combien de temps peut-on garder une bouteille entamée ?</a></li>
        <li><a href="#q5">Je retrouve dans ma cave un carton de Domaine Le Fort de 10 ans d’âge ? Est-il trop tard pour le boire ?</a></li>
        <li><a href="#q6">Le Pinot Noir, plutôt léger en structure, doit-il être consommé dans l’année ?</a></li>
        <li><a href="#q7">Combien de temps peut-on conserver les vins blancs ?</a></li>
        <li><a href="#q8">Ne pouvez-vous pas faire des vins moins riches en alcool ?</a></li>
        <li><a href="#q9">Peut-on rafraîchir les vins rouges ?</a></li>
        <li><a href="#q10">A quelle température servir les vins blancs ?</a></li>
      </ol>
     
    </div>
    <div class="quest-bloc col-xs-12 col-sm-12 col-md-12 col-lg-8 col-xl-8">
      <div class="question" id="q1">
        <h3>Je constate un dépôt au fond de la bouteille. Est-ce normal ? Que peut-on faire ?</h3>
        <p>
         Nos vins sont peu filtrés et subissent peu de traitements. Un dépôt peut apparaître lors de la conservation en bouteilles, notamment après un passage au froid. Il s’agit le plus souvent de précipitation de tartre. Ce dernier provient de l’acide tartrique, acide naturellement présent dans les baies de raisin. Le passage en carafe permet d’éliminer ces dépôts qui resteront au fond de la bouteille.
       </p>
        
      <img src="pics/banniere1.JPG" alt="image-question1" class="img-fluid">
       
     </div>
     <div class="question" id="q2">
      <h3>Pourquoi ajouter des sulfites dans le vin ? </h3>
      <p>
        Au risque de casser le mythe, il faut reconnaître que la finalité du jus de raisin n’est pas le vin mais le vinaigre ! Une petite dose de SO2 permet de contrôler les populations de bactéries (notamment acétiques responsables de la transformation en vinaigre) du vin. Le SO2 a également un rôle antioxydant et préserve donc  la fraîcheur des arômes. La réduction des doses est un de nos objectifs et guide nos pratiques : hygiène stricte du chai, limitation des oxydations et des mouvements de vin. Ainsi nos vins affichent des teneurs bien inférieures aux normes autorisées : de l’ordre de 50 à 60 mg/l, alors que 150 mg/l sont autorisés en conventionnel, et 100 mg/l en bio, pour les vins rouges.
      </p>
       
      <img src="pics/bannier2.jpg" alt="image-question2" class="img-fluid">
   
    </div>
    <div class="question" id="q3">
      <h3>A l’ouverture le vin paraît pétiller légèrement sur la langue. Est-ce qu’il est en train de refermenter ?</h3>
      <p>
        Au cours de la fermentation, les levures produisent du gaz carbonique. Par la suite, les aérations successives du vin vont en éliminer une grosse partie. Vu notre politique de diminution des doses de sulfites, nous cherchons à les limiter. Le CO2 résiduel est notre allié en contrôlant naturellement les oxydations. Nous le chasserons le plus tard possible, avant la mise en bouteille. Il peut toutefois arriver que certains palais particulièrement sensibles détectent un léger perlant. S’il est gênant, nous conseillons pour l’éliminer de carafer le vin.
      </p>
      
      <img src="pics/bannier3.JPG" alt="image-question3" class="img-fluid">
      
    </div>
    <div class="question" id="q4">
      <h3>Combien de temps peut-on garder une bouteille entamée ?</h3>
      <p>
        En deux ou trois jours sans précautions particulières, la bouteille de vin entamée va vite perdre de sa fraîcheur. A moins que l’on ne limite les oxydations. Conservation au froid et chasser l’air (à l’aide d’un bouchon adapté et sa pompe à vide) vont permettre de prolonger l’intérêt du vin jusqu’à une semaine facilement.
      </p>
      
      <img src="pics/bannier4.JPG" alt="image-question4" class="img-fluid">
       
    </div>
    <div class="question" id="q5">
      <h3>Je retrouve dans ma cave un carton de Domaine Le Fort de 10 ans d’âge ? Est-il trop tard pour le boire ?</h3>
      <p>
        Certainement pas ! Le Domaine Le Fort élevé en fûts de chêne valorise bien quelques années de vieillissement. Le boisé y gagnera en fondu, ainsi que ses tanins. Pour ceux qui souhaitent l’ouvrir plus tôt, un passage en carafe peut permettre qu’il s’ouvre plus vite.
      </p>
     <img src="pics/bannier5.JPG" alt="image-question5" class="img-fluid">
    </div>
    <div class="question" id="q6">
      <h3>Le Pinot Noir, plutôt léger en structure, doit-il être consommé dans l’année ?</h3>
      <p>
        Ouverte dans sa jeunesse, une bouteille de Pinot Noir séduit par la fraîcheur de son fruité, sur le côté griotte. Mais ce cépage particulier aime bien vieillir aussi, jusqu’à une dizaine d’années ! Il présentera alors des notes plus épicées par-dessus l’intensité du fruit et le fondu de la bouche.
      </p>
      
      <img src="pics/bannier6.JPG" alt="image-question6" class="img-fluid">
     
    </div>
    <div class="question" id="q7">
      <h3>Combien de temps peut-on conserver les vins blancs ?</h3>
      <p>
        Nous concevons les cuvées « classiques » (vinifiées en cuve inox) pour être appréciées sur le fruit de leur jeunesse. Soit dans les deux à trois ans. Le Riesling est une exception : il exprime mieux son côté minéral, terpénique après quelques années de garde, sans rien perdre de sa fraicheur. Les cuvées vinifiées en fûts de chêne de nos cépages blancs en revanche s’épanouiront davantage avec quatre ou cinq ans de garde. Le boisé se fondra mieux et des arômes plus complexes se développeront. Certains préfèreront aller au-delà pour rechercher plus d’évolution, de mielleux. Des goûts et des couleurs…
      </p>
      <img src="pics/bannier7.jpg" alt="image-question7" class="img-fluid">
    </div>
    <div class="question" id="q8">
      <h3>Ne pouvez-vous pas faire des vins moins riches en alcool ?</h3>
      <p>
        La maturité de la vendange est appréciée non seulement par sa richesse en sucre (et donc en degré alcoolique potentiel) mais surtout par sa maturité phénolique : arômes et tanins. Pour cela, c’est la dégustation des baies qui nous guide. En ces temps de réchauffement climatique, la maturité « technologique » (en sucre) arrive beaucoup plus tôt que la maturité aromatique. D’où des degrés plus élevés. Il faut en tenir compte pour modérer sa consommation. Et ne pas oublier le verre à eau à côté du verre à vin…
      </p>
     <img src="pics/bannier8.jpg" alt="image-question8" class="img-fluid">
    </div>
    <div class="question" id="q9">
      <h3>Peut-on rafraîchir les vins rouges ?</h3>
      <p>
        C’est toujours délicat de rafraîchir les vins rouges. On prend le risque de durcir les tanins. C’est pourquoi il faut rester mesuré. Mais en été par exemple, difficile de mettre un vin sur la table sans le tempérer alors que la température ambiante dépasse les 25°C (voire 30°C !). Si on vise une température de service à 18-20°C, mieux vaut le préparer à 15-16°C, il pourra largement se tempérer le temps du service ! A adapter selon les bouteilles. Le Grenache Noir, par exemple, peu tannique et gouleyant,  verra son côté désaltérant valorisé par un passage au frigo. Le Domaine Le Fort élevé en fûts, plus structuré, supportera mal une température inférieure à 16°C.
      </p>
       <img src="pics/bannier9.JPG" alt="image-question9" class="img-fluid">
    </div>
    <div class="question" id="q10">
      <h3>A quelle température servir les vins blancs ?</h3>
      <p>
       Le froid amplifie le caractère désaltérant recherché sur les vins blancs. Mais point trop n’en faut, car le froid a aussi le défaut d’éteindre les arômes ! Sortir les vins du frigo (généralement autour de 5°C) en début de repas pour un objectif de consommation dans les 8-10°C pour les cuvées classiques et 10-12°C pour les vins élevés en fûts de chêne.
     </p>
     
   </div>
 </div>
</section>
{% endblock %}
                                
