{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
 <div class="row align-items-center">
    <div id="marcstef" class="col-5 text-center">
      <h3>Marc PAGES<br>&amp;<br>Stéphanie FARGUES</h3>
      <p>
        <b>Domaine LE FORT</b><br>
        11290 Montréal<br>
        04.68.76.20.11<br>
        info@domainelefort.com<br>
      </p>
    </div>
    <div class="col-7 p-0">
      <img class="img-fluid" src="pics/contact.jpg" alt="Marc Pagès & Stéphanie Fargues">
    </div>
  </div>

  <div class="row justify-content-center"   id="contactform">
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-6 col-xl-4">
      <div class="text-center form-area">
          <br>
          <div class="title-mail text-center">
            <h4>NOUS ÉCRIRE</h4>
            <br>
          </div>
       
          {{ form_start(forms) }}

          <div class="form-group">
            {{ form_widget(forms.name, {'attr': {'placeholder': 'Nom-Prénom'}}) }}
          </div>

          <div class="form-group">
               {{ form_widget(forms.mail, {'attr': {'placeholder': 'E-mail'}}) }}
          </div>

          <div class="form-group">
               {{ form_widget(forms.tel, {'attr': {'placeholder': 'Téléphone'}}) }}
          </div>

          <div class="form-group">
               {{ form_widget(forms.sujet, {'attr': {'placeholder': 'Sujet'}}) }}     
          </div>

          <div class="form-group">
               {{ form_widget(forms.message, {'attr': {'placeholder': 'Message', 'maxlength' :'140', 'rows': '7'}}) }}
          </div>     

          <button type="submit" id="submitbtn" name="submit" class="btn form-control">Envoyer</button>
      
        {{ form_end(forms) }}
      </div>
    </div>
  </div>
  <div id="maplink" class="row">
    <div class="row justify-content-center py-5">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 order-1 text-center">
        <h4>Comment nous rendre visite ?</h4>
      </div>

      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 order-2 order-lg-3 text-center">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1144.0472487551244!2d2.1104789889007365!3d43.20074407124862!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12ae4a517a9ca6bd%3A0xe4cfa29750c19fd5!2sDomaine+le+Fort!5e1!3m2!1sen!2sfr!4v1546437279193" id="mappy" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 order-3 order-lg-2 text-center">
        <h4>Où loger ?</h4>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 order-4 text-left">
        <ul class="gites">
    <!-- render all gites -->
       {% for gite in gites %}
    <li>
    <span>{{gite.nom}}</span>
    <br>
     </li>
    <li class="nul ml-4">
    e-mail : <a href='mailto:{{gite.mail}}'><i>{{gite.mail}}</i></a>
    <br>
    </li>
    <li class="nul ml-4">
    site : <a href='{{gite.siteweb}}'><i>{{gite.siteweb}}</i></a>
    <br>
    <br>
    </li>
    {% endfor %}
       <!-- render all gites -->
        </ul>
      </div>
  </div>
  <div id="caveau" class="row">

   <div class="row justify-content-center align-items-center text-center">
    <h4>Notre caveau vous est ouvert</h4>
  </div>
  <div class="row justify-content-center align-items-center text-center">
    <div class="col-12 horaire">
      du <span>Lundi</span> au <span>Samedi</span> de <span>10h</span> à <span>12h</span> et de <span>14h30</span> à <span>18h30</span><br>
      fermé le<span> dimanche </span>et les <span>jours feriés</span>
    </div>
  </div>
</div>
{% endblock %}
