{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<section id="presentation">
  <div class="row card bg-dark text-white">
    <img class="card-img w-100 img-fluid" src="pics/intro2.jpg" alt="Card image">
    <div class="card-img-overlay white-over card-60">
      <h2 class="card-title"> mer &amp; montagne</h2>
      <p class="card-text">
        A deux pas des remparts de la Cité de Carcassonne, le Domaine Le Fort est le plus occidental des vignobles du Languedoc. Sur le terroir de la Malepère, avec vue sur la chaîne des Pyrénées et à 80 km de la Grande Bleue, son climat original –transitoire entre Méditerranée et Atlantique- lui permet d’obtenir le meilleur d’une large gamme de grands cépages.
      </p>
    </div>
  </div>
  <div class="row card bg-dark text-white">
    <img class="card-img w-100 img-fluid" src="pics/intro3.jpg" alt="Card image">
    <div class="card-img-overlay left-overlay white-over">
      <h2 class="card-title">Vignoble de vent et de lumière</h2>
      <p class="card-text">
        Ce domaine familial, redynamisé par la nouvelle génération depuis 1995, propose une quinzaine de cuvées ayant chacune un caractère très affirmé. L’objectif a été affiché dès le départ : la qualité et l’expressivité des cuvées. Appellation Malepère ou vins mono-cépages, rouges, blancs ou rosés, en bouteilles ou en outres à vin (bag in box), les vins du Domaine Le Fort portent tous une même signature : haute expression aromatique associée à la force et au gourmand de la bouche.
      </p>
    </div>
  </div>
  <div class="row card bg-dark text-white">
    <img class="card-img w-100 img-fluid" src="pics/intro1.jpg" alt="Card image">
    <div class="card-img-overlay white-over card-60">
      <h2 class="card-title">Un vignoble remodelé</h2>
      <p class="card-text">
        Les vignes du Domaine Le Fort s’étendent aujourd’hui sur plus de 35 hectares. Elles sont plantées sur des coteaux argilo-calcaires orientés plein sud. Le vignoble actuel est le fruit d’un immense travail : la totalité de sa superficie a été entièrement réencépagée depuis 1998 ! De ces nouvelles plantations sortent régulièrement de nouvelles cuvées qui viennent enrichir la gamme des vins du domaine.
      </p>
      <p class="card-text">
        Treize cépages ont été acclimatés et sont aujourd’hui hébergés au Domaine Le Fort : Merlot, Cabernet Franc, Cabernet Sauvignon, Grenache Noir, Syrah, Malbec, Pinot Noir pour les rouges et côté blancs : Chardonnay, Viognier, Sauvignon Blanc, Muscat Petits Grains et depuis peu Riesling et Gewurztraminer.
      </p>
    </div>
  </div>
  <div class="row card bg-dark text-white">
    <img class="card-img w-100 img-fluid" src="pics/intro4.jpg" alt="Card image">
    <div class="card-img-overlay left-overlay white-over">
      <h2 class="card-title">Des chais modernisés</h2>
      <p class="card-text">
        Parallèlement au développement du vignoble, les installations de vinification et d’élevage ont été agrandies et modernisées. Le chai d’élevage et de conditionnement, construit en 2000, abrite sur ses 400m2 plus de 250 fûts de chêne ainsi que la chaîne de mise en bouteilles et la remplisseuse d’outre à vin. Tous les conditionnements sont effectués sur place par les vignerons, gage de suivi qualitatif. La cave de vinification ancestrale du domaine est attenante. Elle a été enrichie d’une importante cuverie inox, d’un système de contrôle des températures ainsi que de deux pressoirs pneumatiques.
      </p>
    </div>
  </div>
</section>
<!-- ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------- -->
<section>
  <div class="row card bg-dark text-white">
    <img id="vins" class="card-img w-100 img-fluid" src="pics/banniere-vins2.jpg" alt="Card image">
    <div id=ban-vin class="row align-items-center card-img-overlay w-100 black-over">
      <span id="punch">DÉCOUVREZ NOS PRODUITS</span>
      <a href="{{ path('shop') }}" class="btn btn-default" id="btn1"><span id="acces">ACCÈS BOUTIQUE</span><i class="fa fa-2x fa-caret-right"></i></a>
    </div>
  </div>
</section>
<!-- ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------- -->
<section id="visages">
  <div class="row justify-content-center">
    <h2>Visages</h2>
  </div>
  <div id="perso-vsg" class="row justify-content-around align-items-start">
    <div class="card-vsg row col-xs-12 col-md-5 text-center justify-content-center">
      <img src="svg/portraits1.png" alt="portrait Marc" class="portrait img-fluid">
      <div class="cadre">
        <h3>Marc Pagès</h3>
        <p>Un pied à la vigne, l’autre à la cave, Marc adore être en première ligne pour travailler la matière brute offerte par mère nature. Amateur de challenges, Ingénieur et Œnologue de formation, il a puisé dans ses voyages le goût et la curiosité pour la pureté des cépages. On peut croiser ce sportif assidu sur les tapis de judo, en footing en bord de vigne ou dans les lignes d’eau du club local. Le vinificateur a une autre passion gourmande: le fruité vert de l’huile d’olive…</p>
      </div>
    </div>
    <div class="card-vsg row col-xs-12 col-md-5 text-center justify-content-center">
      <img src="svg/portraits2.png" alt="portrait Stephanie" class="portrait img-fluid">
      <div class="cadre">
        <h3>Stéphanie Fargues</h3>
        <p>De ses études d’Oenologue à Bordeaux, Stéphanie a gardé une véritable passion pour l’analyse sensorielle et la dégustation. Elle en a conçu une méthode originale d’initiation et de perfectionnement qu’elle décline dans ses ateliers autour du vin. Elle participe activement à la définition du profil des cuvées même si son quotidien au domaine est plus tourné vers la gestion et les ventes. Pour s’évader, elle reste fidèle à ses autres grandes passions : la musique classique, le jeu d’échecs et danser le rock !</p>
      </div>
    </div>
</section>
<section>
  <div class="band-deg row">
    <div id="deg-img" class="col-3">
      <img src="pics/degustation.jpg" alt="image-Degustation" class="img-fluid">
    </div>
    <div id="cours-deg" class="col-3 text-center align-self-center">
      Atelier de Degustation
    </div>
    <div class="col-3 goulot">
      <img src="pics/goulot.png" alt="image-goulot" id="goulot" class="img-fluid">
    </div>
    <div class="col-3 align-self-center">
      <a href="{{ path('workshop') }}" class= "btn" id= "sbtn2"><span>APPRENDRE LA DÉGUSTATION</span><i class="fa fa-2x fa-caret-right"></i>
      </a>
    </div>
  </div>
</section>
<section>
  <div class="gal row justify-content-center">
    <h2>Galerie</h2>


    <div class="gallery row justify-content-center pb-4">
      <a class="image-popup" class="col-12 col-sm-6 col-md-4 p-1"  href="image/gal1.jpg">
        <img class="myImg"  src="image/gal1.jpg" alt="galerie1" width="400" height="300">
      </a>

     <a class="image-popup" class="col-12 col-sm-6 col-md-4 p-1" href="image/gal2.jpg">
        <img class="myImg"  src="image/gal2.jpg" alt="galerie2" width="400" height="300">
      </a>
      
      <a class="image-popup" class="col-12 col-sm-6 col-md-4 p-1"  href="image/gal3.jpg">
        <img class="myImg"  src="image/gal3.jpg" alt="galerie3" width="400" height="300">
      </a>

     <a class="image-popup" class="col-12 col-sm-6 col-md-4 p-1" href="image/gal4.jpg">
        <img class="myImg"  src="image/gal4.jpg" alt="galerie4"  width="400" height="300"> 
      </a>
      
      <a class="image-popup" class="col-12 col-sm-6 col-md-4 p-1"  href="image/gal5.jpg">
        <img class="myImg"  src="image/gal5.jpg" alt="galerie5" width="400" height="300">
      </a>

     <a class="image-popup" class="col-12 col-sm-6 col-md-4 p-1" href="image/gal6.jpg">
        <img class="myImg"  src="image/gal6.jpg" alt="galerie6"  width="400" height="300">
      </a>
      <a class="image-popup" class="col-12 col-sm-6 col-md-4 p-1"  href="image/gal7.jpg">
        <img class="myImg"  src="image/gal7.jpg" alt="galerie7" width="400" height="300">

      </a>

     <a class="image-popup" class="col-12 col-sm-6 col-md-4 p-1" href="image/gal8.jpg">
        <img class="myImg"  src="image/gal8.jpg" alt="galerie8" width="400" height="300"> </a>
      
      
      
      
      <a class="image-popup" class="col-12 col-sm-6 col-md-4 p-1" href="image/gal9.jpg">
        <img class="myImg"  src="image/gal9.jpg" alt="galerie9"  width="400" height="300">
      </a>
      
      <a class="image-popup" class="col-12 col-sm-6 col-md-4 p-1"  href="image/gal10.jpg">
        <img class="myImg"  src="image/gal10.jpg" alt="galerie10" width="400" height="300">
      </a>

     <a class="image-popup" class="col-12 col-sm-6 col-md-4 p-1" href="image/gal11.jpg">
        <img class="myImg"  src="image/gal11.jpg" alt="galerie11" width="400" height="300"> 
      </a>
      
      <a class="image-popup" class="col-12 col-sm-6 col-md-4 p-1"  href="image/gal12.JPG">
        <img class="myImg"  src="image/gal12.JPG" alt="galerie12" width="400" height="300">
      </a>

     <a class="image-popup" class="col-12 col-sm-6 col-md-4 p-1" href="image/gal13.JPG">
        <img class="myImg"  src="image/gal13.JPG" alt="galerie13" width="400" height="300">
      </a>
      <a class="image-popup" class="col-12 col-sm-6 col-md-4 p-1"  href="image/gal14.JPG">
        <img class="myImg"  src="image/gal14.JPG" alt="galerie14" width="400" height="300">

      </a>

     <a class="image-popup" class="col-12 col-sm-6 col-md-4 p-1" href="image/gal15.JPG">
       <img class="myImg"  src="image/gal15.JPG" alt="galerie15"  width="400" height="300"> </a>
      
      
        <a class="image-popup" class="col-12 col-sm-6 col-md-4 p-1"  href="image/gal6.JPG">
        <img class="myImg"  src="image/gal16.JPG" alt="galerie16" width="400" height="300">
      </a>

     <a class="image-popup" class="col-12 col-sm-6 col-md-4 p-1" href="image/gal17.JPG">
        <img class="myImg"  src="image/gal17.JPG" alt="galerie17" width="400" height="300"> 
      </a>
      
      <a class="image-popup" class="col-12 col-sm-6 col-md-4 p-1"  href="image/gal18.JPG">
        <img class="myImg"  src="image/gal18.JPG" alt="galerie18" width="400" height="300">
      </a>

     <a class="image-popup" class="col-12 col-sm-6 col-md-4 p-1" href="image/gal19.JPG">
        <img class="myImg"  src="image/gal19.JPG" alt="galerie19" width="400" height="300">
      </a>
      <a class="image-popup" class="col-12 col-sm-6 col-md-4 p-1"  href="image/gal20.JPG">
        <img class="myImg"  src="image/gal20.JPG" alt="galerie20" width="400" height="300">

      </a>

     <a class="image-popup" class="col-12 col-sm-6 col-md-4 p-1" href="image/gal21.JPG">
       <img class="myImg"  src="image/gal21.JPG" alt="galerie21" width="400" height="300"> </a>
      
      
      
          <a class="image-popup" class="col-12 col-sm-6 col-md-4 p-1" href="image/gal22.JPG">
       <img class="myImg"  src="image/gal22.JPG" alt="galerie22" width="400" height="300"> </a>
      
      
        <a class="image-popup" class="col-12 col-sm-6 col-md-4 p-1"  href="image/gal23.JPG">
        <img class="myImg"  src="image/gal23.JPG" alt="galerie23" width="400" height="300">
      </a>

     <a class="image-popup" class="col-12 col-sm-6 col-md-4 p-1" href="image/gal24.JPG">
        <img class="myImg"  src="image/gal24.JPG" alt="galerie24" width="400" height="300"> 
      </a>
      
      <a class="image-popup" class="col-12 col-sm-6 col-md-4 p-1"  href="image/gal25.JPG">
        <img class="myImg"  src="image/gal25.JPG" alt="galerie25" width="400" height="300">
      </a>

     <a class="image-popup" class="col-12 col-sm-6 col-md-4 p-1" href="image/gal26.JPG">
        <img class="myImg"  src="image/gal26.JPG" alt="galerie26" width="400" height="300">
      </a>
      <a class="image-popup" class="col-12 col-sm-6 col-md-4 p-1"  href="image/gal27.JPG">
        <img class="myImg"  src="image/gal27.JPG" alt="galerie27" width="400" height="300">

      </a>

     <a class="image-popup" class="col-12 col-sm-6 col-md-4 p-1" href="image/gal28.JPG">
       <img class="myImg"  src="image/gal28.JPG" alt="galerie28" width="400" height="300"> </a>
      
       <a class="image-popup" class="col-12 col-sm-6 col-md-4 p-1" href="image/gal29.JPG">
       <img class="myImg"  src="image/gal29.JPG" alt="galerie29" width="400" height="300"> </a>
    
       <a class="image-popup" class="col-12 col-sm-6 col-md-4 p-1"  href="image/gal30.JPG">
        <img class="myImg"  src="image/gal30.JPG" alt="galerie30" width="400" height="300">

      </a>

     <a class="image-popup" class="col-12 col-sm-6 col-md-4 p-1" href="image/gal31.JPG">
       <img class="myImg"  src="image/gal31.JPG" alt="galerie31" width="400" height="300"> </a>
      
       <a class="image-popup" class="col-12 col-sm-6 col-md-4 p-1" href="image/gal32.JPG">
       <img class="myImg"  src="image/gal32.JPG" alt="galerie32"  width="400" height="300"> </a>
      
      
      
      
      
      
      
      
      
      <a class="image-popup" class="col-12 col-sm-6 col-md-4 p-1" href="image/gal33.JPG">
       <img class="myImg"  src="image/gal33.JPG" alt="galerie33" width="400" height="300"> </a>
      
      
      
          <a class="image-popup" class="col-12 col-sm-6 col-md-4 p-1" href="image/gal34.JPG">
       <img class="myImg"  src="image/gal34.JPG" alt="galerie34" width="400" height="300"> </a>
      
      
        <a class="image-popup" class="col-12 col-sm-6 col-md-4 p-1"  href="image/gal35.JPG">
        <img class="myImg"  src="image/gal35.JPG"alt="galerie35" width="400" height="300">
      </a>

     <a class="image-popup" class="col-12 col-sm-6 col-md-4 p-1" href="image/gal36.JPG">
        <img class="myImg"  src="image/gal36.JPG"alt="galerie36" width="400" height="300"> 
      </a>
      
      <a class="image-popup" class="col-12 col-sm-6 col-md-4 p-1"  href="image/gal37.JPG">
        <img class="myImg"  src="image/gal37.JPG" alt="galerie37" width="400" height="300">
      </a>

     <a class="image-popup" class="col-12 col-sm-6 col-md-4 p-1" href="image/gal38.JPG">
        <img class="myImg"  src="image/gal38.JPG" alt="galerie38" width="400" height="300">
      </a>
      <a class="image-popup" class="col-12 col-sm-6 col-md-4 p-1"  href="image/gal39.JPG">
        <img class="myImg"  src="image/gal39.JPG" alt="galerie39" width="400" height="300">

      </a>

     <a class="image-popup" class="col-12 col-sm-6 col-md-4 p-1" href="image/gal40.JPG">
       <img class="myImg"  src="image/gal40.JPG" alt="galerie40"  width="400" height="300"> </a>
      
       <a class="image-popup" class="col-12 col-sm-6 col-md-4 p-1" href="image/gal41.JPG">
       <img class="myImg"  src="image/gal41.JPG" alt="galerie41" width="400" height="300"> </a>
    
       <a class="image-popup" class="col-12 col-sm-6 col-md-4 p-1"  href="image/gal42.JPG">
        <img class="myImg"  src="image/gal42.JPG" alt="galerie42" width="400" height="300">

      </a>

     <a class="image-popup" class="col-12 col-sm-6 col-md-4 p-1" href="image/gal43.JPG">
       <img class="myImg"  src="image/gal43.JPG" alt="galerie43" width="400" height="300"> </a>
      
       <a class="image-popup" class="col-12 col-sm-6 col-md-4 p-1" href="image/gal44.JPG">
       <img class="myImg"  src="image/gal44.JPG" alt="galerie44" width="400" height="300"> </a>
      
    </div>


  </div>
  
  <div class="row justify-content-center">
    <img src="" alt=""><img src="" alt=""><img src="" alt=""><img src="" alt="">
  </div>
</section>


{% endblock %}
