{% extends 'base.html.twig' %}

{% block title %}Mentions légales{% endblock %}
{% block body %}

<div class="container-fluid">
	<div id="back-title" class="row justify-content-center">
		<img src="pics/titre2.jpg" alt="Mentions légales">
		<h1>Mentions légales</h1>
	</div>
</div>

<div class="text-center constructPage">
	<h2>--- Page en construction ---</h2>
</div>


{% endblock %}