{% extends 'base.html.twig' %}

{% block title %}Actualités{% endblock %}
{% block body %}

<div id="back-title" class="row justify-content-center align-items-center">
  <img src="pics/titre2.jpg" alt="image-actualité">
  <h1>Notre actualité</h1>
</div>

<main id="newspage">

<div class="salons row justify-content-center align-items-center">
  <div class="lieux-date col-sm-12 col-md-4 mt-3">
    <span class="titlenews"><u>Les salons à venir</u></span>
    <br>

    <!-- render all salons -->
    <ul>
    {% for salon in salons %}
    <li>
    {{salon.lieu}}
    <br>
     </li>
    <li class="nul ml-4">
    {{salon.date}}
    <br>
    <br>
    </li>
    {% endfor %}
    </ul> 
    <!-- render all salons -->

        <a href="{{ path('contact') }}" class="news-btn btn" id="btn2"><span>Contactez-nous</span><i class="fa fa-2x fa-caret-right"></i>
        </a>
  </div>
    <div class="col-sm-12 col-md-8 mt-3 mb-3">
    <img class="img-fluid" src="pics/20170325_155047.jpg" alt="image-les-salons-a-venir">
  </div>
</div>

  <div class="salons row  justify-content-center align-items-center">
  
  <div class="col-sm-12 col-md-8 mt-3 mb-3">
  	<img class="img-fluid" src="pics/PAGES068.jpg" alt="image-récompenses">
  </div>

  <div class="lieux-date col-sm-12 col-md-4 mt-3">
    <span class="titlenews"><u>Nos dernières récompenses</u></span>
    <br>

    <!-- render all recompenses -->
    <ul>
    {% for recompense in recompenses %}
    <li>
    {{recompense.cuvee}} {{recompense.millesime}}
    <br>
     </li>
    <li class="nul ml-4">
    {{recompense.gratification}}
    <br>
    <br>
    </li>
    {% endfor %}
    </ul> 
    <!-- render all recompenses -->

        <a href="{{ path('shop') }}" class="news-btn btn" id="btn1"><span>Découvrez nos vins</span><i class="fa fa-2x fa-caret-right"></i>
        </a>

  </div>
</div>

<section class="fb">
<div class="titre-facebook row mt-3 mb-5 w-100 justify-content-center">
  <h2>Notre actualité facebook</h2>
</div>

<div class="row mt-5 mb-1 justify-content-center">
  <div id="fb-root"></div>
  <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FCarcassonneLaPage%2F&tabs=timeline&width=500&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=false&appId" width="500" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>

 <!--  <div class="fb-page" data-href="https://www.facebook.com/CarcassonneLaPage/" data-tabs="timeline" data-width="500" data-small-header="false" data-adapt-container-width=
      "true" data-hide-cover="false" data-show-facepile="false"><blockquote cite="https://www.facebook.com/CarcassonneLaPage/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/CarcassonneLaPage/">Carcassonne</a></blockquote>
    </div> -->
  </div>
</section>
</main>
  {% endblock %}