
{% extends 'base.html.twig' %}

{% block title %}Philosophie &amp; Engagements{% endblock %}

{% block body %}
<div id="back-title" class="row justify-content-center">
		<img src="pics/titre2.jpg" alt="image-Philosophie">
		<h1 class="resp">Philosophie &amp; Engagements</h1>
	</div>
	<section id="engagements">
		<div id="intro-phi" class="row justify-content-center">
			<div class="col-xs-12 col-sm-10 col-md-10 col-lg-10 col-xl-10">
				<p>Comme le sage cherche à accéder à la meilleure version de lui-même, notre philosophie au Domaine Le Fort est de constamment viser le meilleur pour nos vins. Au départ est la nature. Notre terroir, entre Méditerranée et Atlantique, est balayé par les vents et baigné de lumière : deux atouts clés. L’essentiel se joue à la vigne. C’est là que se met en œuvre notre savoir-faire pour obtenir le meilleur du raisin, à savoir son optimum de maturité.</p>
			</div>
		</div>
		<div class="marge-philo row align-items-center justify-content-center">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-8">
				<h2>Nature et culture</h2>
				<p>Pour favoriser une belle concentration des raisins, la vigueur de la vigne est limitée grâce à une taille sévère et à l’absence de fertilisation. La restitution des bois de taille suffit à alimenter le stock de matière organique pour nos rendements modérés. Les travaux manuels de gestion du feuillage vont assurer le meilleur micro-climat autour des grappes : relevage soigné du palissage pour une grande surface foliaire sans entassement et effeuillage soleil levant devant les grappes. Le vent et le soleil font le reste.
				</p>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-4">
				<img class="w-100 img-fluid mt-5" src="pics/philo3.jpg" alt="Nature et culture">
			</div>
		</div>
		<div class=" marge-philo row align-items-center justify-content-center">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-4">
				<img class="img-fluid w-100 mb-5" src="pics/MALEPERE083.jpg" alt="Culture raisonnable">
			</div>
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-8">
				<h2>Culture raisonnable</h2>
				<p>En fonction de la météo et de la pression des ravageurs observée au vignoble, des traitements peuvent être effectués. Nous cherchons à les limiter, sans nous en passer complètement si besoin. Pour limiter les molécules de synthèse nous faisons appel régulièrement au soufre et au cuivre. Pas de nécessité d’anti-botrytis par ailleurs, du fait de l’aération des grappes suite à l’effeuillage systématique. Et pas de fertilisation. C’est notre version de la culture raisonnée.</p>
			</div>
		</div>
		<img class="img-fluid w-100" src="pics/philo1.jpg" alt="grande1-image">
		<div class="marge-philo row align-items-center justify-content-center">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-8">
				<h2>Cultiver les porosités du sol</h2>
				<p>Après les vendanges, un travail du sol relativement profond nous permet de décompacter les horizons pour recréer des porosités. Une opération pour favoriser la vie du sol et reconstituer les réserves hydriques en captant les pluies de l’hiver.  En ces temps troubles de réchauffement climatique, il faut être inventif pour pérenniser les disponibilités en eau.
				</p>
			</div>
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-4">
				<img class=" img-fluid w-100 mt-5" src="pics/philo4.jpg" alt="Cultiver">
			</div>
		</div>
		<div class="marge-philo row align-items-center justify-content-center">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-4">
				<img class="img-fluid w-100 mb-5" src="pics/philo2.jpg" alt="Accompagner">
			</div>
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-8">
				<h2>Accompagner la matière</h2>
				<p>Une fois en cave, les raisins connaissent la grande métamorphose. Extraction des jus, fermentations, stabilisation, élevage, conditionnement : pour chacune de ces étapes,  il s’agit d’accompagner l’expression de la matière plutôt que d’avoir à la corriger. Aérations maîtrisées, limitation des opérations - associées à une hygiène stricte- permettent aussi de contenir l’usage de sulfites, sans que l’on s’en passe complètement toutefois. Le vin poursuit sa vie dans les cuves ou les fûts de chêne, jusque dans les bouteilles où il continue d’évoluer. Et que se passe le relai au consommateur final.</p>
			</div>
		</div>
		<img class="img-fluid w-100" src="pics/PAGES011.jpg" alt="grande2-image">
	</section>
{% endblock %}
