{% extends 'base.html.twig' %}


{% block title %}Produits{% endblock %}

{% block body %}
<ul class="nav justify-content-center nav-boutique">
  <li class="nav-item">
    <a id="cadre-produit" class="nav-link">TOUT</a>
  </li>
  <li class="nav-item">
    <a id="ROUGE" class="nav-link">ROUGE</a>
  </li>
  <li class="nav-item">
    <a id="BLANC" class="nav-link">BLANC</a>
  </li>
  <li class="nav-item">
    <a id="ROSE" class="nav-link">ROSE</a>
  </li>
  <li class="nav-item">
    <a id="DOUCEUR" class="nav-link">DOUCEUR</a>
  </li>
  <li class="nav-item">
    <a id="OUTRE" class="nav-link">OUTRE A VIN</a>
  </li>
  <li class="nav-item">
    <a id="OLIVE" class="nav-link">HUILE D'OLIVE</a>
  </li>
</ul>

<!-- PRODUITS -->

<div class="container-fluid">
  <div class="row justify-content-around">
  {% for produit in produits %}
    <div class="col-xs-10 col-sm-5 col-md-4 col-lg-3 col-xl-3 m-3 cadre-produit {{produit.classe}}">
      <div class="table">
        <div class="cell pdt-pic">
        <img src="{{ vich_uploader_asset(produit, 'imageFile') }}" alt="{{ produit.imageName }}" class="img-fluid">
        </div>
        <div class="cell pdt-tit">
        <p class="title">{{produit.titre}}</p>
        </div>
        <div class="cell pdt-aop">
        {{produit.appellation}}
        </div>
        <div class="cell pdt-des">
        <i>{{produit.description}}</i>
        </div>
        <div class="cell pdt-chi">
          <div class="row">
            <div class="col-6">
            {{produit.millesime}} 
            </div>
            <div class="col-6">
            {{produit.contenance}} cL
            </div>
          </div>
        </div>
        <div class="cell pdt-pri">
          <p>{{produit.prix/100|number_format(2, '.', ' ')}} €</p>
        </div>
      </div>
    </div>
  {% endfor %}
  </div>
</div>



{% endblock %}
