{% extends 'base.html.twig' %}

{% block title %}Ateliers{% endblock %}

{% block stylesheets %}
<link href="css/styleQuiz.css" rel="stylesheet">
{% endblock %}

{% block body %}
<main id="atelierdeg">
    <div id="back-title" class="row justify-content-around">
        <img src="pics/titre2.jpg" alt="Ateliers">
        <h1>Ateliers</h1>
    </div>
    <section class="secatedeg row justify-content-center"> 
        <div class="col-12 col-xl-7 greybg portate ">
            <h2>Ateliers de dégustation</h2>
            <p>Dès ses études d’Oenologie, Stéphanie s’est spécialisée dans l’analyse sensorielle. Titulaire du WSET niveau 3  elle a mis au point une méthode d’initiation et de perfectionnement à la connaissance des vins à destination des particuliers.</p>
            <br>
            <p>Cette pédagogie progressive est déclinée dans différents ateliers, au travers d’une structure dédiée : Le parfum des Anthocyanes. L’objectif premier est d’améliorer ses capacités de dégustation mais aussi de mieux cerner l’univers du vin, depuis son élaboration, sa composition jusqu’à la consommation.</p>
        </div> 
        <div class="col-5 col-xl-5 portate">
            <img src="pics/atelier1.jpg" alt="portrait Stéphanie Fargues" class=" img-fluid">
        </div>
        <div class="col-5 col-xl-7 portate ">
            <img src="pics/atelier2.jpg" alt="dégustation de vin" class="img-fluid">
        </div> 
        <div class="col-12 col-xl-5 greybg portate ">
            <div class="row justify-content-center">
                <img class="img-fluid w-50 my-5 whitebg" src="svg/anthocyanes.svg" alt="logo">
            </div>
            <h2>Le parfum des Anthocyanes</h2>
            <p>La formule Ateliers Ludique propose une séance récréative autour du vin ainsi qu’une initiation aux méthodes de dégustation. Il comprend la reconnaissance d’odeurs simples, des tests divers, de quiz sur le vin. L’approche de la dégustation d’un vin sera illustrée au travers d’une fiche simple de dégustation.</p>
            <br>
            <p>Avec l’Ateliers Découverte, on va plus loin. Les participants définissent leurs propres seuils de sensibilité (olfactive et gustative). Le but de l’atelier est de les améliorer tout en approfondissant les techniques de dégustation. Une fiche type de dégustation servira pour décrire plusieurs vins. Des packs de quatre ateliers thématiques sont également proposés. Horaires, groupes, thèmes : n’hésitez pas à <a href="/contact">nous contacter</a> pour plus de précisions !</p>
        </div>
    </section>
    <section class="jeux">
        <div class="row justify-content-center">
            <img src="svg/leafL.svg" class="leaf" alt="feuille1">
            <h3>C'est à vous !</h3>
            <img src="svg/leafR.svg" class="leaf" alt="feuille2">
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <h4>Jouons un peu… et testez vos connaissances !</h4>
            </div>
        </div>
        <div class="quizContent">
            <div class="content-inner">
                <div id="quiz-intro" class="text-center">
                    <h2>Testez vos connaissances autour du vin !</h2>
                    <button class="start-button" type="button">Démarrer le quizz</button>
                </div>
                <form id="quiz-form" class="hidden">
                    <div class="quiz-container">
                        <p class="question-container text-center"></p>
                        <ul class="answers-container"></ul>
                    </div>
                    <div class="hidden text-center" id="noticeGroup">
                        <h3 id="noticeAnswer">Bonne réponse !</h3>
                        <p id="noticeInfos"></p>
                    </div>
                    <div class="text-center">
                        <button class="submit-answer-button" type="button">Valider</button>
                    </div>
                </form>
                <div id="quiz-outro" class="hidden text-center">
                    <div class="quiz-outro-message"></div>
                    <button class="reset-button" type="button">Réessayer</button>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}

{% block javascript %}
<script src="js/jquery.js" type="text/javascript"></script>
<script src="js/IntroView.js" type="text/javascript"></script>
<script src="js/QuestionView.js" type="text/javascript"></script>
<script src="js/OutroView.js" type="text/javascript"></script>
<script src="js/app.js" type="text/javascript"></script>
<script src="js/Quiz.js" type="text/javascript"></script>
<script src="js/Question.js" type="text/javascript"></script>
<script src="js/controller.js" type="text/javascript"></script>
{% endblock %}