/*Variables*/
:root{
  --mainred: #a6180e;
  --darkred: #850A00;
  --lightred: #BF534B;
  --maingrey: #423b35;
  --midgrey: #BBB;
  --darkgrey: #666;


  --textfont:  'Roboto', sans-serif;
  /*  --titlefont: 'Procopius', serif;*/
  --lettrinefont: 'Crownheights', serif;
  --titlefont: 'Bebas', sans-serif;


  --whiteoverlay: rgba(255, 255, 255, 0.8);
  --white2overlay: rgba(255, 255, 255, 0.6);
  --blackoverlay: rgba(0, 0, 0, 0.6);
  --black2overlay: rgba(0, 0, 0, 1);
}
/*Variables*/
/*Polices*/
@font-face{
  font-family: 'Roboto';
  src: url('fonts/roboto.ttf') format('truetype'),
  url('fonts/roboto.woff') format('woff'),
  url('fonts/roboto.woff2') format('woff2');
  font-weight: lighter;
  font-style: normal;
}

@font-face{
  font-family: 'Procopius';
  src: url('fonts/procopius.ttf') format('truetype'),
  url('fonts/procopius.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family: 'Crownheights';
  src: url('fonts/crownheights.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family: 'Bebas';
  src: url('fonts/bebas.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/*Polices*/
/*Général*/
body, .row, .container-fluid{
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: var(--textfont);
}

a {
 outline: 0;

}

a:hover
{
text-decoration: none;

}

h1{
  z-index: 2;
  color: var(--maingrey);
  font-family: var(--titlefont);
  font-size: 3vw;
  padding: 20px;
}

#back-title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 93px;
}

#back-title img {
  width: 100%;
  position: absolute;
  z-index: -1;
  height: inherit;
}

#back-title h1 {
  font-size: 300%;
}


/*LOGIN PAGE*/

#loginForm {
  margin: 20px;
  text-align: center;
  height: 500px;

}

#loginForm input {
  margin: 10px;
  width: 80%;
}

#loginForm .btnlogin {
  margin-top: 20px;
}

.btnlogin
{
  color: #000;
  background-color: #FFF;
  padding: 5px;
  border-radius : 12px 12px;
  border-style: solid;
  border-width: 2px;
  border-color: #000;
  font-size: 8px;
  width: 137px;
  height: 40px;
}

.btnlogin:hover{
  background-color: #000;
  border-color:  #FFF;
  color:  #FFF;
}

.btnlogin:active{
  background-color: var(--darkred);
  border-color: var(--lightred);
  color: var(--lightred);
}
.btnlogin{

  font-weight: bold;
  font-size: 1em;
}
 #loginForm #loginTitle {
  font-family: var(--titlefont);
  font-size: 3vw;
  color: var(--darkgrey);
  padding: 0.5vw 0 1vw 0;
}

#loginForm .inputs{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



/*LOGIN PAGE*/

/*Général*/
/*Accueil*/
.card-img-overlay h2, #visages h2, .gal h2 {
  font-family: var(--titlefont);
  font-size: 3vw;
  color: var(--darkgrey);
  padding: 0.5vw 0 1vw 0;
}

.card-img-overlay  h2::first-letter, #visages h2::first-letter, .gal h2::first-letter{
  color: var(--darkgrey);
  font-size: 7vw;
}

.card-img-overlay p{
  color: var(--maingrey);
  font-family: var(--textfont);
  font-size: 1.5vw;
  text-indent: 70px;
}

.card-60{
  width: 55%;
}

.white-over {
  background-color:  var(--whiteoverlay);
  padding: 5vw;
}


.black-over{
  background-color:  var(--blackoverlay);
  padding: 80px;
}

.left-overlay{
  margin-left: 55%;
}

.card{
  border:none;
  border-radius:0;
}

#ban-vin{
  width: 100%;
}

#ban-vin #punch{
  font-family: var(--titlefont);
  font-size: 70px;
  color: #FFF;
}

#ban-vin a{
  position: absolute;
  right: 100px;
  padding: 10px;
  color: #FFF;
  background-color: #000;
  border-radius : 15px 15px;
  border-style: solid;
  border-width: 2px;
  border-color: #FFF;
}

#ban-vin a:hover{
  background-color: #FFF;
  border-color: #000;
  color:  #000;
}

#ban-vin a:active{
  background-color: var(--lightred);
  border-color: var(--darkred);
  color: var(--darkred);
}

#ban-vin a #acces{
  position: relative;
  bottom: 5px;
  font-weight: bold;
}

#ban-vin i{
  margin : 15px;
}

#visages h3 {
  font-weight: bold;
  font-family: var(--titlefont);
}

#visages h3::first-letter{
  font-family: var(--titlefont);
  font-size: 50px;
}

#visages{
  background-image: url("../pics/back-visages2.jpg");
  background-size: cover;
}

#perso-vsg{
  position: relative;
  bottom: 100px;
  padding-bottom: 70px;
}

.portrait{
  width: 300px;
  height: 300px;
  position: relative;
  top: 120px;
}

.cadre{
  padding: 100px 15px 15px 15px;
  background-color: #FFF;
  border-radius: 20px 20px 20px 20px;
  margin-top: 30px;
}

#perso-vsg p{
  font-style: italic;
  font-size: 20px;
}

.band-deg{
  background-color: #000;
}

#deg-img{
  padding: 0;
}

.goulot img{
  height: 100%;
}

#cours-deg{
  color: #FFF;
  font-size: 75px;
  font-family: var(--lettrinefont);
  line-height: 100px;
}

.band-deg a{
  color: #000;
  background-color: #FFF;
  padding: 10px;
  border-radius : 15px 15px;
  border-style: solid;
  border-width: 2px;
  border-color: #000;
  font-size: 12px;
}

.band-deg a span{
  position: relative;
  bottom: 5px;
  font-weight: bold;
}

.band-deg a:hover{
  background-color: #000;
  border-color:  #FFF;
  color:  #FFF;
}

.band-deg a:active{
  background-color: var(--darkred);
  border-color: var(--lightred);
  color: var(--lightred);
}

.band-deg i{
  margin : 10px;
}

/* effet popup images /*/
.myImg {
    opacity: 1;
    transition: .3s ease;
    backface-visibility: hidden;

}
.myImg:hover {
    opacity: 0.8;
}


.gallery image-popup{
  height: 400px;
  width: 400px;
}
/* fin effet popup images */





/*Accueil*/
/*Header*/
#home li i{
  color: var(--midgrey);
  margin-left: 20px;
}

.flag{
  margin: 1vw;
}

#bars{
  padding: 30px 30px 0 0;
}

.burger{
  position: fixed;
  top: 0;
  right: 0;
  z-index: 9;
  color: #FFF;
  text-shadow: 2px 2px 5px var(--midgrey);
  cursor: pointer;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 10;
  top: 0;
  right: 0;
  background-color:  var(--black2overlay);
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.1s;
  font-family: var(--titlefont);
  font-size: 30px;
}

.sidenav a {
  padding: 4px 8px 4px 8px;
  text-decoration: none;
  color: #FFF;
  display: block;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 45px;
  margin-left: 50px;
}

.sidenav ul a:hover {
  background-color: var(--mainred);
}

.sidenav ul a:active {
  background-color: #000;
}

.sidenav ul a{
  border-radius: 25px 0 0 25px;
}


.sidenav ul a:hover li{
  color: #FFF;
}


.sidenav ul a:hover li span{
  color: #FFF;
}

#sous-liste ul a:hover li{
  color: #FFF;
}

.sidenav ul a li span{
  color: var(--mainred);
}

.sidenav ul a li{
  list-style-type: none;
}

#sous-liste li{
  font-family: var(--titlefont);
  margin-left: 20px;
  list-style-type: disc;
  font-size:20px;
  color: var(--darkgrey);
}


.glyphicon-home{
  color:white;
  font-size:1.5em;
  margin-top:5px;
  margin:0 auto;
}

.logo
{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.LOGO
{
  width: 30vw;
  min-width: 150px;
}

.flag-band{
  margin-bottom: 30px;
}

.flag{
  width: 50px;
  height: 50px;
}


/*header*/
/*footer*/
.mentions a
{
  color:#FFF;
  position: relative;
  right: 2vw;
}

.mentions:hover
{
text-decoration: underline;
color:#FFF;
}

.fab {
color: #4267b2;
}

  .zoom {
    transition: transform .2s; /* Animation */
     margin: 0 auto;
  }
  
  .zoom:hover {
    transform: scale(1.2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }

footer{
 background-color: #1F1F1F;
}

footer .fa-facebook-square{
 font-size: 50px;
  padding: 20px;
}

footer img{
position: relative;
right: 2vw;
}

/*footer*/
/*Boutique*/
.table
{
  display: table;
}

.cell
{
  display: block;
  align-items: center;
}

.pdt-pic
{
height: 250px;
width: auto;
}

.pdt-pic img
{
height: 230px;
width: auto;
}

.pdt-pri
{
  height: 50px;
  font-size: 25px;
  font-weight: bold;
}

.pdt-tit
{
  height: 50px;
  font-weight: bold;
  font-size: 20px;
}

.pdt-des
{
  height: 60px;
  padding: 0 10px 0 10px;
}

.pdt-chi
{
  height: 30px;
  color: var(--darkgrey);
}

.pdt-aop
{
  height: 40px;
  color: var(--darkgrey);
}

.nav-boutique
{
  height: 70px;
}

.nav-link
{
  margin: 10px;
}

.nav-link:hover
{
border-bottom: 2px solid white;
}

.nav-boutique{
  color: white;
  background-color: #423B35;
  margin-bottom: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
 cursor: pointer;
}
.nav-boutique li{
  margin-left: 15px;
  margin-right: 15px
}
.nav-boutique a{
  color: white;
  font-family: var(--titlefont);
  font-size: 1.5em;
}

.nav-boutique a:hover{
  color: var(--midgrey);
}

.cadre-produit
{
  text-align: center;
  display: flex;
  height: 550px;
  padding: 25px 0 25px 0;
  background-color:#FFF;
  transition: box-shadow .1s;
}

.cadre-produit:hover
{
  box-shadow: 0 0 11px rgba(33,33,33,.2); 
   z-index: 1;
}


.cadre-produit p{
  margin: 0;
}

.btn-boutique p{
  padding:  10px 20px 10px 20px;
}
/*Fin Boutique*/
/*Conseils*/
.menu-q{
  background-color: var(--maingrey);
  padding: 30px;
  height: 650px;
  color: #FFF;
  line-height: 20px;
  top: 30px;
  left: 0px;
  min-width: 200px;
  overflow: auto;
}

.menu-q a{
  text-decoration: none;
  color: var(--midgrey);
}

.menu-q a:hover{
  color: #FFF;
}

.menu-q li{
  margin-bottom: 20px;
}

.quest-bloc p{
  font-size: 20px;
  text-indent: 100px;
  color: var(--darkgrey);
}

.quest-bloc h3{
  margin-left: 100px;
  font-size: 20px;
  color: #000;
  font-family: var(--mainfont);
  font-weight: bolder;
}

.quest-bloc h3::first-letter{
  font-size:50px;
   font-family: var(--titlefont);
  color: var(--maingrey);
}

.question{
    margin: 40px 0 40px 0;
}


/*Conseils*/
/*atelier de dégustation*/

.secatedeg{
  margin: 2vw 0 2vw 0;
}

.greybg{
  background-color: var(--maingrey);
}

.greybg:nth-of-type(1){
  padding-top: 5vw;
}

.whitebg{
  background-color: #FFF;
}

#atelierdeg h2{
text-align: center;
  font-family: var(--titlefont);
  font-size: 30px;
  color: var(--darkgrey);
}

.greybg h2::first-letter{
  font-size: 70px;
}


.greybg p{
  text-indent: 100px;
  margin : 0px 50px 0px 50px;
  color: #FFF;
  font-size: 17px;
  line-height: 40px;
  padding-bottom: 20px;
}


.leaf{
  margin : 20px;
}

.secatedeg h3{
   font-family: var(--titlefont);
  font-size:10vw;
}
/*atelier de dégustation*/
/*Philosophie et engagement*/
#intro-phi p{
  font-size: 2em;
}

.marge-philo{
  margin : 50px 0 50px 0;
 
}

.marge-philo p{
  text-indent: 100px;
  margin : 0px 50px 0px 50px;
  color: var(--maingrey);
   font-size: 2em;
}


.marge-philo h2{
  margin : 0px 0px 30px 150px;
  font-family: var(--titlefont);
  font-size: 40px;
  color: var(--darkgrey);
}

.marge-philo h2::first-letter{
  font-size: 90px;
}

#intro-phi{
  padding: 120px 50px 80px 50px ;
 
    text-indent: 100px;
    background-color: var(--maingrey);
  color: #FFF;
  font-style: italic;
  line-height: 60px;
}

#intro-phi p::first-letter{
  font-size: 80px;
  font-family: var(--titlefont);
}

/*Philosophie et engagement*/
/*Contact*/

.gites
{
  color: var(--midgrey);
}

.gites span
{
  color: #FFF;
  font-weight: bold;
}

.gites a
{
  color: #FFF;
}

.gites a:hover
{
  text-decoration: underline;
}


#marcstef h3{
font-family: var(--titlefont);
color: var(--maingrey);
font-size: 4vw;
margin-bottom: 2vw;
}

#marcstef p{
  font-size: 2vw;
  color: var(--darkgrey);
}

#contactform{
  padding: 50px 0 50px 0;
  background-image: url("../pics/form.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

form h4{
  font-size: 50px;
  color: #FFF;
  font-family: var(--titlefont);
}

#mappy{
height: 100%;
  width: 100%;
}

#submitbtn{
  background-color: var(--mainred);
  color: #FFF;
}

#maplink{
background-color: #000;
}

#maplink h4{
    font-size: 40px;
    color: #FFF;
      font-family: var(--titlefont);
      padding: 20px;
}

.chambres{
    font-size: 30px;
    color: var(--darkgrey);
    text-decoration: none;
}

.chambres:hover{
    color: #FFF;
    text-decoration: none;
}

#caveau{
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../pics/banniere-vins.png");
width: 100%;
height: 30vw;
color: var(--midgrey);
font-size: 4vw;
}

.horaire
{
background-color: #000;
margin: 0;
padding: 20px;
height: 20vw;
width: 100%;
}

.horaire span{
  font-size: 4vw;
  font-family: var(--titlefont);
  color: #FFF;
}

#caveau h4{
      font-size: 6vw;
    color: #000;
      font-family: var(--titlefont);
      padding: 10px;
}
.title-mail h4{
  color: #FFF;
}

/*Contact*/
/*actualité*/

#newspage
{
  padding-top: 50px;
  background-color: var(--maingrey);
}

.salons
{
  margin-bottom: 50px;
  margin-top: 50px;
  text-align: center;
  background-color: #FFF;
  color: #000;
  padding-bottom: 20px;
}

.salons .lieux-date
{
  list-style-position: inside;
  margin-left: 0;
}

.salons .lieux-date .nul
{
  list-style-type: none;
}

.salons span
{
  font-size: 30px;
  font-weight: bold;
}

.titlenews
{
  color : var(--maingrey);
  font-style: italic;
}

.salons ul 
{
margin-top: 50px;
text-align: left;
}
  
.news-btn
{
  color: #000;
  background-color: #FFF;
  padding: 5px;
  border-radius : 15px 15px;
  border-style: solid;
  border-width: 2px;
  border-color: #000;
  font-size: 8px;
}

.news-btn span{

  font-weight: bold;
  font-size: 2em;
}
.news-btn i{
  margin: 10px;
}

.news-btn:hover{
  background-color: #000;
  border-color:  #FFF;
  color:  #FFF;
}

.news-btn:active{
  background-color: var(--darkred);
  border-color: var(--lightred);
  color: var(--lightred);
}
 
.fb
{
  padding: 100px 0 100px 0;
}

.titre-facebook{
  color: #FFF;
}


.error {
  background-color: #FFCECA;
  font-size: 240%;
  margin-bottom: 90px;
  padding: 13px;
  font-weight: 500
}

.error p, .errorCont p {
  margin: 0;
}

.errorCont {
  flex-direction: column;
  align-items: center;
  font-size: 200%;
  margin-bottom: 90px
}

.lienerror {
  font-size: 140%;
  margin-bottom: 50px;
}

/*actualité
-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
Media Queries*/

@media screen and (min-width: 1400px) {
#atelierdeg p{
  font-size: 24px;
}
  }

@media screen and (max-width: 993px) {
  /*Philosophie*/
  .marge-philo h2{
    margin : 0px 0px 30px 50px;
  }
  /*Philosophie*/
  /*Accueil*/
  .card-60{
    width: 100%;
  }
  .left-overlay{
    margin-left: 0%;
  }
  .card-img-overlay h2, #visages h2, .gal h2 {
    font-size: 30px;
  }
  .card-img-overlay  h2::first-letter, #visages h2::first-letter, .gal h2::first-letter{
    font-size: 60px;
  }
  .card-img-overlay p{
    font-size: 20px;
  }
  #presentation img{
  object-fit: cover;
  height: 800px;
  }
  #punch{
    display: none;
  }
  #vins{
    object-fit: cover;
    height: 200px;
  }
  #goulot, #cours-deg{
    display: none;
  }
  #deg-img img{
  object-fit: cover;
  height: 200px;
  }
  /*Accueil*/
  #sous-liste li{
    font-size:20px;
  }
}
/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width: 992px) {
/*Conseils*/
.menu-q{
  display: none;
}


@media screen and (max-width: 837px)
{
  .quest-bloc h3
  {
    font-size: 15px;
  }
}

@media screen and (max-width: 385px)
{
  .jeux h3
  {
    font-size: 17px;
  }
}
/*Conseils*/
/* Shop*/
.main-pdt p 
{
  display: none;
}


.btn-boutique p {
  padding: 5px;
}

#prod-desc
{
  display: none;
}
/* Shop*/
h1{
    padding: 0px;
}
/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width: 750px) {
/*Conseils*/
.quest-bloc p{
  text-indent: 0px;
}

.quest-bloc h3{
  margin-left: 0px;
}

.question{
    margin: 30px 0 30px 0;
}
/*Conseils*/
}
h1{
font-size: 30px;
}
  

/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width: 640px) {
/*Philosophie*/
#intro-phi{
  padding: 40px 10px 20px 10px ;
  margin-top: 20px;
    text-indent: 50px;
  line-height: 30px;
}
#intro-phi p::first-letter{
  font-size: 40px;
  }
.marge-philo{
  margin : 20px 0 20px 0;
}
.marge-philo p{
  text-indent: 50px;
  margin : 0px 10px 0px 10px;
}
.marge-philo h2{
  margin : 0px 0px 10px 50px;
  font-size: 20px;
}
.marge-philo h2::first-letter{
  font-size: 40px;
}
/*Philosophie*/
/*Accueil*/
.band-deg{
display: none;
}
/*Accueil*/
h1{
font-size: 25px;
}
}


@media screen and (max-width: 638px) {
  .salons span
  {
    font-size: 30px;
  }
}

@media screen and (max-width: 462px) {
  .salons span
  {
    font-size: 20px;
  }

  .salons .lieux-date h2
  {
    font-size: 18px;
  }
  .salons .lieux-date ul
  {
    font-size: 15PX;
  }

  .marge-philo p{
    text-indent: 0;
  }

  #intro-phi{
      text-indent: 0;
  }
}

@media screen and (max-width: 535px) {
.fb
{
  display: none;
}
}

@media screen and (max-width: 360px) {
  .titre-facebook h2
  {
    font-size: 25px;
  }

}
/*actualité*/
/*Media Queries*/

.myImg {
    opacity: 1;
    transition: .3s ease;
    backface-visibility: hidden;
  width: 100%;
  height: auto;

}


}
/*philosophy*/
@media screen and (max-width: 436px)
{
#back-title .resp
  {
    font-size: 35px;
  }
}

@media screen and (max-width: 560px)
{
  #engagements div p
  {
    font-size: 25px;
  }
}

@media screen and (max-width: 400px)
{
  #engagements div p
  {
    font-size: 20px;
  }
}
/*philosophy*/

.constructPage {
  margin-bottom: 100px;
  margin-top: 100px;
}