button {
	background-color: rgb(0, 81, 115);
	color: #fff;
	padding: 0.5em;
	border: none;
	border-radius: 5px;
	font-size: 15px;
	line-height: 1.5em;
	margin-top: 20px;
}

.hidden {
	display: none;
}

.text-center {
	text-align: center;
}

.quizContent {
	position: relative;
	width: 800px;
	height: 600px;
	padding: 20px;
	margin: 50px auto;
	border-bottom-width: 10px;
	border-radius: 5px;
	overflow: hidden;
}

#quiz-form p.question-container, #quiz-form p#noticeInfos {
	color: black;
	font-weight: bold;
	font-size: 22px;
}

h3#noticeAnswer {
	font-size: 200%;
	font-weight: bold;
}

#quiz-form p#noticeInfos {
	font-size: 120%;
}

/*
 * In case you're wondering how the content seems
 * to blur the background behind it this is the trick
 */


@media (max-width: 800px) {
	.content {
		width: 100%;
	}
}

.answers-container {
	list-style: none;
	font-size: 110%;
	text-align: center;
}

.Albert { /* class de test */
	border: 1px solid black;
}

@media screen and (max-width: 908px) {
	.quizContent {
		width: 100vw;
		margin: 0;
		height: auto
	}

	.answers-container {
		padding: 0;
	}

	.greybg h2::first-letter{
		font-size: inherit;
	}

	.greybg p{
	text-indent: 0;
	margin : 0px 10px 0px 10px;
	color: #FFF;
  	font-size: 17px;
	line-height: 25px;
	padding-bottom: 20px;
	}
}