<footer class="container-fluid">
  <div class="row align-items-center">
    <div class="col-4	text-center mentions"><a href="/legals">Mentions légales</a></div>
    <div class="col-4	text-center"><a href="https://www.facebook.com/"><i class="zoom fab fa-facebook-square"></i></a></div>
    <div class="col-4	text-right"><a href="https://www.vigneron-independant.com/"><img class="img-fluid" src="svg/logoVIF.png"></a></div>
  </div>
</footer>
