 <header class="w-100 mx-0">
   <div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" id="fermenav" class="closebtn">&times;</a>
    <div class="flag-band row justify-content-center">
    <a href="#" class="flag"><img src="pics/flag-fr.png" alt="drapeau français"></a>
    <a href="#" class="flag"><img src="pics/flag-uk.png" alt="drapeau anglais"></a>
    <a href="#" class="flag"><img src="pics/flag-sp.png" alt="drapeau espagnol"></a>
    <a href="#" class="flag"><img src="pics/flag-gm.png" alt="drapeau allemand"></a>
    </div>
    <ul>
      <a id="home" href="{{ path('home') }}"><li><span>NOTRE</span> DOMAINE<i class="fa fa-home"></i></li></a>
      <div id="sous-liste">
      <ul>
        <a href="{{ path('news') }}"><li>Actualités</li></a>
        <a href="{{ path('philosophy') }}"><li>Philosophie &amp; Engagements</li></a>
        <a href="{{ path('workshop') }}"><li>Ateliers de dégustation</li></a>
        <a href="{{ path('advices') }}"><li>Conseils de consommation</li></a>
        <br>
      </ul>
      </div>
      <a href="{{ path('shop') }}"><li><span>NOS</span> PRODUITS</li></a>
      <br>
      <a href="{{ path('contact') }}"><li><span>NOUS</span> CONTACTER</li></a>
    </ul>
  </div>
  <span class="burger" id="ouvrenav"><div id="bars"><i class="fa fa-bars fa-3x"></div></i></span>
  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
   <div class="carousel-inner">
     <div class="carousel-item active">
      <img class="d-block w-100 img-fluid" src="pics/diapo1.jpg" alt="First slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100 img-fluid" src="pics/diapo2.jpg" alt="Second slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100 img-fluid" src="pics/diapo3.jpg" alt="Third slide">
    </div>
  </div>
  <div class="logo d-flex align-items-center justify-content-center">
    <img class="LOGO img-fluid" src="svg/LOGO.svg">
  </div>
</div>
</header>