{% extends 'base.html.twig' %}
{% block title %}Erreur{% endblock %}
{% block body %}


<div class="error d-flex justify-content-center">
	<p>Erreur rencontrée lors de l'affichage de la page.</p>
</div>
<div class="errorCont d-flex justify-content-center">
	<p>La page que vous essayez de visionner n'est pas disponible, ou alors elle n'existe pas.</p>
	<p>Veuillez vérifier l'URL, ou réessayer ultérieurement.</p>
</div>
<div class="lienerror d-flex justify-content-center">
	<a href="../home">Retourner à l'accueil »</a>
</div>

{% endblock %}
